/* .left{
  display: flex;
  justify-content: flex-start;
  float: left;
}

.right{
  display: flex;
  justify-content: flex-end;
  float: right;
}  */

.container{
  color: black;
  background-color: black;
  padding-left: 1%;
  padding-right: 1%;
}